html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

h1 {
  font-size: 5em;
  margin: 0;
  padding: 0%;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin: 0;
  padding: 0%;
  text-align: center;
}
@font-face { font-family: PSB; src: url('Product Sans Bold.ttf'); } 
  h1 {font-family: PSB}
  h2 {font-family: PSB}
  p {font-family: PSB}
  div {font-family: PSB}


#tempdiv {
  border-color: #000000;
  border-style: none none solid none;
  border-width: 10px;
  border-radius: 0px;
}